body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: blue;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.left-menu {
  display: none;
  background-color: blue;
}

.content {
  position: relative;
  height: 1200px;
  margin-left:30px;
  background-color: white;
}

.expand {
  position: absolute;
  top: 70px;
  left: -40px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: white;
}

.header {
  height: 45px;
  background-color: blue;
  color: white;
}

.header .text {
  float: left;
  font-size: 24px;
  padding: 10px 0 0 0;
}

.row-header {
  float: left;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: 10px 20px 10px 10px;
  padding-right: 10px;
  border-right: 1px solid blue;
}

.row-header span {
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.action-link {
  position: relative;
  width: 150px;
  height: 150px;
  float: left;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.action-link a {
  color: blue;
  border: 1px solid blue;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding:10px;
}

.action-link .value {
  font-size: 36px;
  line-height: 100px;
  height: 100px;
  display: block;
  margin: 0;
}

.action-link .value.glyphicons {
  line-height: 85px;
}

.action-link a:visited {
  color: blue;
}

.action-link .label {
  vertical-align: bottom;
}